Source: php-tesseract
Priority: extra
Maintainer: eli <freetogo@gmail.com>
Build-Depends: debhelper (>= 8.0.0), autotools-dev
Standards-Version: 3.9.2
Section: libs
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/php-tesseract.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/php-tesseract.git;a=summary

Package: php-tesseract
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Php-tesseract is a wrapper class for Tesseract OCR
 Php-tesseract is a wrapper class for Tesseract OCR that allows any conventional image files (JPG, GIF ,PNG , TIFF and etc) to be read and decoded into readable languages. No temporary file will be created during the OCR processing.
